* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 18px, 32px);
    /* Never smaller than 14px; Scales based on 2vw; Never larger than 18px */    width: 70vw;
    margin: 0 auto;
    background-color: #fefdfd;
}

header {
    position: relative;
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center
}

nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 70vw;
}

nav ul {
    list-style: none;
}

nav ul a {
    display: block;
    color: #eee;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav ul a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #edc32e;
    border: 0.5px solid #fff;
}

nav ul,
footer {
    background-color: #121619;
}

main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 3fr;
    gap: 0.5rem /* 20px */;
    margin: 70px 20px 25px;
}

.card {
    border-radius: 15px;
    border: 0.5px solid #b6b2b2;
}

.card h2 { 
    background-color: #003366;
    color: #fff;
    padding: 0.5rem;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

#about-me {
    background-color: #eaeeeb;
    color: var(--headline-color-on-color);
}

.my-bio, .my-country{
    padding: 1rem;
}

.my-bio img {
    float: right;
    max-width: 140px;
    padding-left: 0.5rem;
    border: var(--standard-border) steelblue;
    box-shadow: var(--shadow-gray);
}

.card h3 {
    font-size: clamp(16px, 24px, 32px);
    text-align: center;
}

.center-line {
    width: 25vw;
    margin: 0.5rem auto;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.my-country img {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    max-width: 120px;
}

.my-country p {
    display: inline-block;
    width: calc(100% - 260px); /* adjust depending on image width */
    vertical-align: top;
}

#dev-resources {
    background-color: #f3f2ef;
    color: var(--headline-color-on-color);
}

#dev-resources p {
    color: var(--paragraph-color-on-color);
}

#dev-resources div {
    margin: 20px;
}

#dev-resources ul {
    color: black;
    padding-left: 2rem;
    line-height: 2rem;
}

footer {
    display: block;
    padding: 1rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

.last-mod {
    color: #b2ff00;
}

/* Larger Viewports */  
@media (min-width: 640px) {
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 auto;
        /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
    }
}
