@media screen and (min-width: 768px) {
    body {
            max-width: 70vw;
            width: 100%;
            margin: 0 auto;
        }
    
        .header-container {
            background-color: var(--color-secondary);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 70vw;
            margin-top: 1rem;
            /* margin: 0 auto; */
        }
    
        .page-title {
            font-size: 2rem;
            text-align: left;
            padding: 0.5rem 1rem;
        }
    
        nav, .navigation {
            display: flex;
        }
    
        .navigation li {
            display: block;
            /* change state in small view */
            flex: 1 1 100%;
        }
    
        .navigation a {
            text-align: center;
        }
    
        #menu {
            display: none;
        }
    
        h1 {
            margin-top: 1rem;
        }
    
        /* Temple Gallery Section */
        .temple-imgs {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            /* grid-template-columns: repeat(3, 1fr); */
            gap: 1rem;
        }
    
        figure {
            max-width: none;
        }
}
